@font-face { font-family: "RalewayL"; src: url("fonts/Raleway-Light.ttf"); }
@font-face { font-family: "RalewayM"; src: url("fonts/Raleway-Medium.ttf"); }

:root {
    --blue-color: #0065FC;
    --light-color: #DEEBFF;
    --grey-color: #F2F2F2;
    /*var(--VARIABLE_NAME);*/
}

.title_section{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
}
.subtitle{
    font-size: 16px;
}

.txt_filter{
    font-weight: bold;
    font-size: 18px;
}

.card_title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle_card{
    font-size: 14px;
}

.title_footer{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer_link{
    font-size: 16px;
    margin-bottom: 10px;
}

.color_blue{
    color: var(--blue-color);
}

  /*Initial config*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

html{
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.t-ou{
    border: grey 1px solid;
}

body {
    width: 1440px; 
    padding: 0 50px 0 50px; 
    font-family: "RalewayM";

}

/*______________________*/

/*________HEADER________*/ 

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > * {
    padding: 50px 0px 50px 0px;
}

.ul_nav{
    display: flex;
}

.a_nav{
    padding: 50px 20px 50px 20px;
}

.a_selected {
    border-top: 2px var(--blue-color) solid;
    color: var(--blue-color);
}

/*______________________*/ 

/*_________MAIN_________*/

.form_search{
    display: flex;
    padding: 10px 0 10px 0;
    font-size: 18;
}

.search_p1{
    background-color: var(--grey-color);
    padding: 15px 20px;
    border-radius: 15px 0 0 15px;
    font-size: 18;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_p2{
    border: solid 1px var(--grey-color);
    padding: 15px 20px;
    font-size: 18px;
}
.search_p3{
    border: none;
    background-color: var(--blue-color);
    color: white;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 0px 15px 15px 0px;

}
.content_filter{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.content_filter > label{
    margin-right: 25px;
}

#filter{
    display: flex;
    flex-wrap: wrap;
}

.filter_btn{
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: solid var(--grey-color) 2px;
    margin: 10px 5px;
    padding: 15px 25px;
    transition: 0.2s;
}

.filter_btn:hover{
    background-color: #0065fc17;
}

.filter_btn > i{
    padding-right: 10px;
    color: var(--blue-color);
}

.content_information{
    display: flex;
    align-items: center;
}

.information_i{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    border: solid var(--grey-color) 2px;
    margin-right: 10px;
}

.information_i > i{
    font-size: 10px;
    color: var(--blue-color);
}

.content_card_loc{
    display: flex;
    margin: 30px 0;
}

.content_card_sch{
    background-color: var(--grey-color);
    padding: 40px;
    border-radius: 25px;
    flex: 2;
    margin-right: 30px;
}

.list_card_sch{
    display: flex;
    flex-direction: column;
}

.line_card_sch{
    display: flex;
    margin-bottom: 30px;
}

.line_card_sch > a{
    display: flex;
    flex: 1;
    transition: 0.2s;
}

.line_card_sch > a:hover{
    transform: translateY(-10px);
}

.line_card_sch > a:not(:last-child){
    margin-right: 30px;
}

.card_sch{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    border: white solid 5px;
    overflow: hidden;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.img_crad_sch{
    object-fit: cover;
}

.detail_car_sch{
    padding: 10px;
}

.content_card_mpp{
    background-color: var(--grey-color);
    padding: 40px;
    border-radius: 25px;
    flex: 1;
}

.head_content_card_mpp{
    display: flex;
    justify-content: space-between;
}

.card_mpp{
    display: flex;
    background-color: white;
    border-radius: 15px;
    border: white solid 5px;
    overflow: hidden;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card_mpp:not(:last-child){
    margin-bottom: 30px;
}

.detail_car_mpp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.content_card_act{
    margin-bottom: 75px;
}

.line_card_act{
    display: flex;
}

.card_act{
    flex: 1;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;}

.card_act:not(:last-child){
    margin-right: 30px;
}

.img_card_act{
    height: 440px;
    display: block;
    width: 100%;
    object-fit: cover;
}

.txt_card_act{
    margin: 15px;
}


footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    background-color: var(--grey-color);
}

footer > div{ 
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*  RATING STARS  */

.fa-star {
	color: var(--grey-color);
    padding-top: 5px;
    font-size: 12px;
}

.fa-star.blue {
	color: var(--blue-color);
}

.stars{
    display: inline-flex;
}